body{
    font-family: 'Roboto', sans-serif;
    margin:10%;

}
.container{
    display: grid;
    grid-template-columns:1fr 2fr;
    grid-template-rows: 10% auto 10%;
    grid-gap:5px 5px;
    /* background: aqua; */
    grid-template-areas:
    "image header"
    "content content"
    "footer footer";

}
.content{
    grid-template-columns: 1fr 3fr;
    display:grid;
}

#img-div{
    height: 100%;
    width: auto;

}


.tribute-anim{
    grid-area: image;
    opacity: 0.3;
    animation-name:mirror;
    animation-duration: 10s;
    animation-iteration-count: infinite;

}


.main{
    grid-area:content;
    text-align: center;
}
.description{
    transform:scale(-1,1); /* flip text*/
    text-align: end;


}

.content-img img{
    width: 200px;
    height: 200px;
}
.footer{
    grid-area: footer;
    font-size: 1em;
}

.navigation{
    /*contents*/
    width: 20vw;
    text-align: left;
}
ul{
    list-style-type: decimal;
    text-align: start;
}
a{
    text-decoration: none;
    color: black;
}
h2{
    /*subheadings*/
    text-align: start;
    border-bottom: 0.1px solid black;
    text-transform: uppercase;
    animation-name: toRight;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}
.title{
    text-align: center;
    grid-area: header;
    font-size: 50px;
    transform:scale(-1,1); /* flip text*/
    animation-name: liveShadow;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    

}

/*mirror man animation*/
@keyframes liveShadow{
    0%{
        text-shadow: -3px -3px red, -8px -8px blue;    }
    50%{
        text-shadow: 8px 8px red, 12px 12px blue;
    }
    100%{
        text-shadow: -3px -3px blue, -8px -8px red;

    }

}
@keyframes toRight{
    0%{
        top: 0px;
        text-shadow: 0 -1px 4px #FFF, 0 -2px 10px #ff0, 0 -10px 20px #ff8000, 0 -18px 40px #F00, 6px -2px 20px #CE5937;

    }
    50%{

        text-shadow: 0 -1px 4px #FFF, 0 -2px 10px #ff0, 0 -10px 20px #ff8000, 0 -18px 40px #F00, 11px -20px 20px #CE5937;
    }100%{
        text-shadow: 0 -1px 4px #FFF, 0 -2px 10px #ff0, 0 -10px 20px #ff8000, 0 -18px 40px #F00, 11px 19px 20px rgba(206,89,55,0.76);

    }
}

@keyframes mirror{
    100%{
        transform: rotate(359deg);
    }


}

@media (max-width: 900px){
    body{
        margin: 0.5em;
    }
    .content{
        display:grid;
        grid-template-columns: 1fr;
    }
    .container {
        display: grid;
        grid-gap:5px 5px;
        grid-template-columns: 1fr;
        grid-template-rows: 5% 10% auto 10%;
        grid-template-areas:
        "header"
        "image"
        "content"
        "footer";
    
    }


   

}